/* Reset for angular bootstrap */
.nav, .pagination, .carousel, .panel-title a { 
  cursor: pointer; 
}

.navbar-default {
  background-color: white;
}

.list-group-item:hover {
  cursor: pointer;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.well.login {
  background-color: white; 
}

#exemptions {
  list-style: none;
  padding-left: 0px;
}

#exemptions li {
  color: #ccc;
  padding: 7.5px;
  border-radius: 5px;
  border: solid #ccc 1px;
  width: 40%;
  margin-bottom: 10px;
  margin-right: 10px;
  text-align: center;
  float: left;
}

#exemptions li:hover {
  color: #428bca;
  border: solid #428bca 1px;
  cursor: pointer;
}

#exemptions li.selected {
  color: #5cb85c;
  border: solid #5cb85c 1px;
}

#main {
  margin-top: 50px;
}

#filter legend {
  margin-top: 15px;
}

#active-filters .filter {
  color: black;
}

#active-filters .filter:focus {
  outline: none;
}

#active-filters .filter:hover {
  color: black;
  text-decoration: none; 
}

.no-background.jumbotron {
  background: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
}

.main.jumbotron {
  background: none;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 15px;
}

.animate-switch.ng-enter {
  -webkit-animation: bounceInRight 1.5s;
  animation: bounceInRight 1.5s;
}

div[ng-view].ng-enter {
  -webkit-animation: fadeInDown 0.5s;
  animation: fadeInDown 0.5s; 
}

#planner {
  /*text-align: center;*/
}

.category {
  padding: 10px;
  width: 25%;
  float: left;
  text-align: center;
}

@media (max-width: 992px) {
  .category {
    width: 100%;
  }

  .category .course {
    width: 90%;
  }

  .category .status {
    width: 10%;
  }
}

.category .course {
  float: left;
  display: table;
  border-radius: 5px 0px 0px 5px;
  padding: 0px 10px;
  background-color: rgb(244,249,255);
  border: solid #ccc 1px;
  border-right: none;
  height: 50px;
  width: 75%;
  margin-bottom: 5px;
}

.category .course small {
  display: table-cell;
  vertical-align: middle;
}

.category .status {
  border-radius: 0px 5px 5px 0px;
  float: left;
  height: 50px;
  width: 25%;
  border: solid #ccc 1px;
}

.category .status.exemption:hover {  
  cursor: not-allowed;
  background-color: white;
}

.category .status.preassigned:hover {  
  background-color: rgb(250,250,250);
}

.category .course.selected {
  background-color: #D1E1E8;
}

.category .course.exemption {
  background-color: gainsboro;
}

.category .course.exemption:hover {
  background-color: gainsboro;
  cursor: not-allowed;
  animation: none;
}

.category .course.preassigned:hover {
  background-color: #dff0d8;
}

.category .course.scheduled {
  background-color: #dff0d8;
}

.category .course.scheduled:hover {
  background-color: #C6D7BF;
}

.category .status small {
  position: relative;
  top: 15px;
}

.category .status:hover {
  cursor: pointer;
  background-color: rgb(244,249,255);
}

/*.category .status:hover small {
  -webkit-animation: pulse 0.7s;
  animation: pulse 0.7s;
}*/

.category .course:hover{
  cursor: pointer;
  background-color: white;
  color: black;
}

/*.category .wrapper:hover {
  cursor: pointer;
  -webkit-animation: pulse 0.5s;
  animation: pulse 0.5s;
}*/

.category-title {
  font-size: 15.5px;
}

@media(max-width: 1280px){
  .category-title {
    font-size: 12.5px;
  }
}

.modal-content.browse {
  margin-top: 20%;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.course-modal {
  height: auto;
}

@media (max-width: 768px) {
  .modal-content {
    margin-top: 30px;
    width: 100%;
  }
  .course-modal {
    width: 100%;
  }
}

.modal.fade .modal-dialog, .modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}


/*Toggle for bounce animation*/
.modal.fade {
  /*-webkit-animation: bounceIn 0.65s;
  animation: bounceIn 0.65s;*/
}

.modal-body h1 {
  padding-bottom: 20px;
  font-weight: 450;
  text-align: center;
}

.browse {
  height: 200px;
  border-radius: 5px;
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  border: solid #ccc 1px;
}

.browse .course {
  box-sizing: border-box;
  width: 100%;
  height: 75px;
  padding: 15px;
  border-top: solid #ccc 1px;
}

.browse .course:hover {
  cursor: pointer;
}

.browse .course:first-child {
  border-top: none;
}

.browse .course .course-title {
  font-size: 11pt;
}

.browse .course small {
  color: grey;
}

.browse .course.selected {
  background-color: aliceblue;  
}

.btn-delete {
  border-color: #FF5E3A;
  color: #FF5E3A;
}

#time-title {
  margin-bottom: 30px;
}

.selector:hover {
  cursor: move;
}

#categories-table {
  table-layout: fixed;
}

#categories-table tbody td:first-child{
  text-align: center;
  width: 10%;
}

#course-table {
  table-layout: fixed;
}

#course-table tbody td:first-child{
  text-align: center;
  width: 10%;
}

.drop-zone {
  border: dashed gainsboro 2px;
}

.drop-cell {
  padding: 20px !important
}

.panel-table-wrapper {
  height: 110px;
  overflow-y: scroll;
}

.preassigned-table {
  table-layout: fixed;
}

.preassigned-table tbody td:first-child {
  width: 7.5%;
}

.preassigned-table tbody td:last-child {
  width: 5%;
}

.preassigned-table tbody td:nth-child(2) {
  width: 15%;
}

.preassigned-table.drop-hover tbody tr td {
  background-color: aliceblue;
}

.subtype-table {
  margin-bottom: 0px;
}

.pointer:hover {
  cursor: pointer;
}

.scroll-y {
  height: 600px;
  overflow-y: scroll;
}

#new-category {
  height: 75px;
  width: 100%;
  border: dashed gainsboro 2px;
  margin-bottom: 15px;
  display: table;
}

#new-category p{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.new-category-hover {
  background-color: aliceblue; 
}

#major-table {
  table-layout: fixed;
}

#major-table tbody td:first-child label {
  font-weight: normal;
}

#major-table tbody td:first-child {
  cursor: pointer;
}

#major-table tbody td:first-child label span {
  margin-right: 10px;
}

#major-table tbody td:last-child {
  text-align: center;
  width: 12.5%;
}

.subtype-heading{
  margin-top: 15px;
  box-sizing: border-box;
  background-color: #f5f5f5;
  width: 100%;
  border: solid #ddd 1px;
  border-left: none;
  border-right: none;
  padding: 10px 15px;
}

.hover-header {
  background-color: aliceblue;
}

#course-table ul {
  list-style: none;
  padding-left: 0px;
}

#course-table {
  table-layout: fixed;
}

#course-table th:first-child {
  width: 5%;
}

#course-table th:last-child {
  width: 10%;
}

#course-table th:nth-child(2){
  width: 10%;
}

#course-table th:nth-child(3){
  width: 30%;
}

#course-table th:nth-child(4),
#course-table th:nth-child(5) {
  width: 22.5%;
}

.button {
  cursor: pointer;
}

#course-form .label{
  margin-right: 5px;
}

.badge.active {
  background-color: #428bca;
  color: white;
}

.pull-right.btn {
  margin-right: 5px;
}

.btn-options {
  background-color: transparent;
  border: none;
}

.btn-options:hover {
  background-color: transparent; 
}