<div class="modal-header">
  <h3 class="modal-title">Add Course</h3>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label class="control-label">Code</label>
        <input type="text" ng-model="course.code" class="form-control" />
      </div>

      <div class="form-group">
        <label class="control-label">Title</label>
        <input type="text" ng-model="course.title" class="form-control" />
      </div>      

      <div class="form-group">
        <label class="control-label">Category</label>
        <input type="text" 
          class="form-control" 
          ng-model="input.category"
          typeahead="category for category in categories | filter:$viewValue | limitTo:8" 
          typeahead-editable="false"
          ng-keydown="newAdd($event, 'category')"
          typeahead-on-select="addCategory($item, $model, $label)" />
        <div class="help-block">
          <span class="category-label" 
            ng-click="removeItem($index, 'category')"
            ng-repeat="category in course.category">
            {{category}} <i class="fa fa-times"></i>
          </span>
        </div>
      </div>      

      <div class="form-group">
        <label class="control-label">Sub-category</label>
        <input type="text" 
          class="form-control" 
          ng-model="input.subcategory"
          typeahead="category for category in categories | filter:$viewValue | limitTo:8" 
          typeahead-editable="false"
          ng-keydown="newAdd($event, 'subcategory')"
          typeahead-on-select="addSubcategory($item, $model, $label)" />
        <div class="help-block">
          <span class="category-label" 
            ng-click="removeItem($index, 'subcategory')"
            ng-repeat="category in course.subcategory">
            {{category}} <i class="fa fa-times"></i>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">Double Count</label>
        <input type="text" class="form-control" 
          ng-model="input.doubleCount"
          typeahead="category for category in categories | filter:$viewValue | limitTo:8" 
          typeahead-editable="false"
          ng-keydown="newAddDoubleCount($event)"
          typeahead-on-select="addDoubleCount($item, $model, $label)" />
        <div class="help-block">
          <span class="category-label" 
            ng-click="removeItem($index, 'doubleCount')"
            ng-repeat="category in course.doubleCount">
            {{category.replace}} <i class="fa fa-times"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
  <button class="btn btn-success" ng-click="$close(course)">Done</button>
</div>