<div class="row">
  <div class="col-md-12 jumbotron no-background">
    <h1>Hello, {{ currentUser.name }}.</h1>
    <p>Plan your modules below. Click on an empty box to select a possible module.</p>
  </div>
  <div class="col-md-12">
    <div id="planner">
      <div ng-repeat="category in planner" class="category">
        <p class="category-title">
          {{category.type}}
        </p>
        <div ng-repeat="course in category.courses" class="wrapper">          
          <div ng-class="{'selected': course.title, 'exemption': isPreassigned(course), 'scheduled': course.schedule || isExemption(course) }" class="course" ng-click="isStatic(course) || chooseCourse(category, $index)">
            <small>
              {{course.title}}
            </small>
          </div>
          <div class="status" ng-class="{'exemption': isExemption(course)}" ng-click="isExemption(course) || !course.title || setTime(course)">
            <small>
              <span ng-show="!isExemption(course) && course.title" class="glyphicon glyphicon-time"></span>
              <span ng-show="isExemption(course)" class="glyphicon glyphicon-bookmark"></span>
            </small>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>    
  </div>
</div>