<div class="row">
  <div class="col-md-12 jumbotron main">
    <h1>Hello, {{ currentUser.name }}.</h1>
    <p>Plan your modules below. Click on an empty box to select a possible module.</p>
  </div>
  
  <div class="col-md-12" id="filter">
    <div class="btn-group pull-right" dropdown>
      <button type="button" class="btn btn-default btn-sm dropdown-toggle">
        Filter  <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Year 1</a></li>
        <li><a href="#">Year 2</a></li>
        <li><a href="#">Year 3</a></li>
        <li><a href="#">Year 4</a></li>
        <li class="divider"></li>
        <li><a href="#">Semester 1</a></li>
        <li><a href="#">Semester 2</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <legend></legend>

  </div>
  <div class="col-md-12">
    <div id="planner">
      <div ng-repeat="category in planner" class="category">
        <p ng-show="category.courses.length > 0" class="category-title">
          {{category.type}}
        </p>
        <div ng-repeat="course in category.courses" class="wrapper">          
          <div ng-class="{'selected': course.title, 'exemption': isPreassigned(course), 'scheduled': course.schedule || isExemption(course) }" class="course" ng-click="isStatic(course) || chooseCourse(category, $index)">
            <small>
              {{course.title}}
            </small>
          </div>
          <div class="status" ng-class="{'exemption': isExemption(course), 'preassigned': isPreassigned(course)}" ng-click="isExemption(course) || !course.title || setTime(course)">
            <small>
              <span tooltip="Schedule" ng-show="!isExemption(course) && course.title" class="glyphicon glyphicon-time"></span>
              <span tooltip="Exempted" ng-show="isExemption(course)" class="glyphicon glyphicon-bookmark"></span>
            </small>
          </div>
        </div>
        <div class="clearfix"></div>
        <div ng-repeat="subtype in category.subtypes">          
          <p class="category-title" ng-show="subtype.courses.length > 0">
            {{subtype.type}}
          </p>
          <div ng-repeat="course in subtype.courses" class="wrapper">          
            <div ng-class="{'selected': course.title, 'exemption': isPreassigned(course), 'scheduled': course.schedule || isExemption(course) }" class="course" ng-click="isStatic(course) || chooseCourse(subtype, $index)">
              <small>
                  {{course.title}}
              </small>
            </div>
            <div class="status" ng-class="{'exemption': isExemption(course)}" ng-click="isExemption(course) || !course.title || setTime(course)">
              <small>
                <span tooltip="Schedule" ng-show="!isExemption(course) && course.title" class="glyphicon glyphicon-time"></span>
                <span tooltip="Exempted" ng-show="isExemption(course)" class="glyphicon glyphicon-bookmark"></span>
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>    
  </div>
</div>