<nav ng-hide="isActive('/login')" class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavbarCtrl">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Oikos Module Planner</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul ng-show="currentUser" class="nav navbar-nav">
        <li ng-repeat="item in menu">
          <a ng-class="{active: isActive(item.link)}" ng-href="{{item.link}}">{{item.title}}</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-show="currentUser" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>