<div class="row">
  <div class="col-md-8 scroll-y" full-height="90">
    <div id="new-category" droppable="addNewRequirement(data)" hover-class="new-category-hover">
      <p>
        Drop a new category here
      </p>
    </div>
    <div ng-repeat="requirement in base.requirements" class="panel panel-default" droppable="addToList(requirement.type, requirement.courses, data)" hover-class="panel-info">
      <div class="panel-heading">{{requirement.type}} 
        <div class="pull-right">          
          <span class="badge">{{requirement.qtyRequired}}</span>
        </div>
      </div>
      <div class="panel-body">
        <strong>Preassigned:</strong>
      </div>
      <table class="table table-hover preassigned-table">
        <tbody>
          <tr ng-repeat="course in requirement.courses">
            <td class="text-center"><i class="fa fa-bars"></i></td>
            <td>{{course.courseId.code}}</td>
            <td>{{course.courseId.title}}</td>
            <td><span tooltip="Remove" ng-show="course.isAdded" class="pointer glyphicon glyphicon-remove-circle" ng-click="remove(requirement.courses, $index)"></span></td>
          </tr>

          <tr ng-hide="requirement.courses.length > 0">
            <td colspan="3" class="text-center">No preassigned</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-4 scroll-y" full-height="90">
    <div class="panel panel-default selector-panel">
      <div class="panel-heading">Categories</div>
      <div class="panel-body">          
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="search.term">
            <span class="input-group-btn">
              <button class="btn btn-primary" ng-click="addNewCategory(search.term)">
                <small><span class="glyphicon glyphicon-plus"></span></small>
              </button>
            </span>
          </div>
        </div>
      </div>
      <table class="table table-hover" id="categories-table">
        <tbody>
          <tr ng-repeat="category in categories | filter: search.term" draggable="category" class="selector">
            <td>
              <i class="fa fa-bars"></i>
            </td>
            <td>
              {{category}}
            </td>
          </tr>          
        </tbody>
      </table>
    </div>

    <div class="panel panel-default selector-panel">
      <div class="panel-heading">Modules</div>
      <div class="panel-body">
         <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="search.module">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-search"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="panel-table-wrapper">        
        <table class="table table-hover" id="course-table">
          <tbody>
            <tr ng-repeat="course in courses | filter: search.module" draggable="course" class="selector">
              <td>
                <i class="fa fa-bars"></i>
              </td>
              <td>
                {{course.title}}
              </td>
            </tr>          
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>