<div class="row">
  <div class="col-md-8 scroll-y" full-height="90">
    <div id="new-category" droppable="addNewRequirement(data)" hover-class="new-category-hover">
      <p>
        Drop new category here
      </p>
    </div>
    
    <!-- Panels -->
    <div ng-repeat="requirement in base.requirements" class="panel panel-primary" droppable="addSubtype(data, requirement)" hover-class="panel-info">
      <div class="panel-heading">{{requirement.type}}      
        <div class="pull-right">          
          <span ng-show="requirement.isAdded" ng-click="removeNewRequirement(requirement, $index)" class="pointer glyphicon glyphicon-remove"></span>
        </div>
      </div>
      <div class="panel-body">
        <strong>Preassigned:</strong>
        <div class="pull-right">
          <button class="btn btn-default btn-xs" ng-disabled="requirement.qtyRequired <= requirement.courses.length || requirement.qtyRequired < 2" ng-click="decreaseQty(requirement)">
            <span class="glyphicon glyphicon-minus"></span>
          </button>
          <span class="badge">{{requirement.qtyRequired}}</span>          
          <button class="btn btn-default btn-xs" ng-click="increaseQty(requirement)">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
      </div>
      <table class="table table-hover preassigned-table" droppable="addToList(requirement.type, requirement, data)" hover-class="drop-hover">
        <tbody>
          <tr ng-repeat="course in requirement.courses">
            <td class="text-center"><i class="fa fa-bars"></i></td>
            <td>{{course.courseId.code}}</td>
            <td>{{course.courseId.title}}</td>
            <td><span tooltip="Remove" ng-show="course.isAdded" class="pointer glyphicon glyphicon-remove-circle" ng-click="remove(requirement.courses, $index)"></span></td>
          </tr>

          <tr ng-hide="requirement.courses.length > 0">
            <td colspan="3" class="text-center">No preassigned</td>
          </tr>
        </tbody>
      </table>
      <div ng-repeat="subtype in requirement.subtypes">
        <div class="subtype-heading">
          {{subtype.type}}
          <div class="pull-right">          
            <span ng-show="subtype.isAdded" ng-click="removeSubtype(subtype, requirement, $index)" class="pointer glyphicon glyphicon-remove"></span>
          </div>
        </div>
        <div class="panel-body">
          <strong>Preassigned:</strong>
          <div class="pull-right">
            <button class="btn btn-default btn-xs" ng-disabled="subtype.qtyRequired <= subtype.courses.length || subtype.qtyRequired < 2" ng-click="decreaseQty(subtype)">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
            <span class="badge">{{subtype.qtyRequired}}</span>          
            <button class="btn btn-default btn-xs" ng-click="increaseQty(subtype)">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </div>
        </div>
        <table class="table table-hover preassigned-table subtype-table" droppable="addToList(subtype.type, subtype, data)" hover-class="drop-hover">
          <tbody>
            <tr ng-repeat="course in subtype.courses">
              <td class="text-center"><i class="fa fa-bars"></i></td>
              <td>{{course.courseId.code}}</td>
              <td>{{course.courseId.title}}</td>
              <td><span tooltip="Remove" ng-show="course.isAdded" class="pointer glyphicon glyphicon-remove-circle" ng-click="remove(subtype.courses, $index)"></span></td>
            </tr>

            <tr ng-hide="subtype.courses.length > 0">
              <td colspan="3" class="text-center">No preassigned</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>    
  </div>

  <!-- Controls -->
  <div class="col-md-4 scroll-y" full-height="90">    
    <div class="panel panel-default">
      <div class="panel-heading">Save</div>
      <div class="panel-body">        
        <form name="requirementForm" ng-submit="addMajor()" novalidate>
          <div class="form-group">
            <strong>Total Modules Required: <span class="badge active">{{getTotalModules()}}</span></strong>
          </div>
          <div class="form-group" ng-class="{'has-error': requirementForm.title.$error.required && flags.submitted}">
            <input type="text" name="title" ng-model="requirement.major" class="form-control" placeholder="Major Title" required/>
          </div>
          <div class="form-group">
            <select class="form-control" ng-model="requirement.type" name="type">
              <option value="1">Primary Major Track</option>
              <option value="2">Second Major</option>
            </select>
          </div>
          <div class="form-group">
            <input type="submit" class="pull-right btn btn-success" value="Save Major" ng-disabled="(requirementForm.$pristine && !hasChanged()) || !requirement.major"/>
            <button type="button" class="btn btn-default pull-right" ng-click="resetForm()">Reset</button>
          </div>
        </form>
      </div>
    </div>  

    <div class="panel panel-default">
      <div class="panel-heading">Majors</div>
      <div class="panel-body">
         <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="search.major">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-search"></span>
            </span>
          </div>
        </div>

        <div class="panel-table-wrapper">        
        <table class="table table-hover" id="major-table">
          <tbody>
            <tr ng-class="{'info': major.active}" ng-repeat="(key, major) in requirements">
              <td ng-click="selectMajor(major)">
                <label>
                  <span class="glyphicon glyphicon-pushpin"></span> {{key}}                 
                </label>
              </td>
              <td>
                <span ng-show="key !== 'Base'" class="glyphicon glyphicon-remove-circle pointer" tooltip="Delete Major"></span>
              </td>
            </tr>          
          </tbody>
        </table>
      </div>
      </div>
    </div>
  

    <div class="panel panel-default selector-panel">
      <div class="panel-heading">Categories</div>
      <div class="panel-body">          
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="search.term">
            <span class="input-group-btn">
              <button class="btn btn-primary" ng-click="addNewCategory(search.term)">
                <small><span class="glyphicon glyphicon-plus"></span></small>
              </button>
            </span>
          </div>
        </div>
      </div>
      <table class="table table-hover" id="categories-table">
        <tbody>
          <tr ng-repeat="category in categories" draggable="category" class="selector">
            <td>
              <i class="fa fa-bars"></i>
            </td>
            <td>
              {{category}}
            </td>
          </tr>          
        </tbody>
      </table>
    </div>

    <div class="panel panel-default selector-panel">
      <div class="panel-heading">Modules</div>
      <div class="panel-body">
         <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="search.module">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-search"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="panel-table-wrapper">        
        <table class="table table-hover" id="course-table">
          <tbody>
            <tr ng-repeat="course in courses | filter: search.module" draggable="course" class="selector">
              <td>
                <i class="fa fa-bars"></i>
              </td>
              <td>
                {{course.title}}
              </td>
            </tr>          
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>