<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal" name="passwordForm" ng-submit="changePassword(passwordForm)" novalidate>
      <legend>Settings</legend>      

      <div class="form-group">
        <label class="control-label col-md-3">Current Password</label>
        <div class="col-md-3">
          <input type="password" name="password" class="form-control" ng-model="user.oldPassword" autofocus mongoose-error/>
          <p class="help-block" ng-show="passwordForm.password.$error.mongoose">
              {{ errors.other }}
          </p>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3">New Password</label>
        <div class="col-md-3">
          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword" ng-minlength="3" required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Password must be at least 3 characters.
          </p>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-3 col-md-offset-3">
          <p class="help-block"> {{ message }} </p>
          <button class="btn btn-success" type="submit">Change password</button>
        </div>
      </div>
    </form>
  </div>
  
  <div class="col-md-12">
    <form class="form-horizontal" novalidate>
        <legend></legend>
        <div class="form-group">
          <label class="control-label col-md-3">First Major</label>
          <div class="col-md-3">
            <input ng-model="requirement.firstMajor" typeahead="track for track in firstMajor | filter:$viewValue | limitTo:8" type="text" class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3">Second Major</label>
          <div class="col-md-3">
            <input ng-model="requirement.secondMajor" typeahead="major for major in secondMajors | filter:$viewValue | limitTo:8" type="text" class="form-control" />
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3">Exemptions</label>
          <div class="col-md-6">
            <ul id="exemptions">
              <li>
                Academic Writing
              </li>
              <li>
                Introduction to Economics
              </li>
              <li>
                Calculus
              </li>
              <li>
                General Education 1
              </li>
              <li>
                General Education 2
              </li>
            </ul>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-9 col-md-offset-3">
            <button class="btn btn-success">Save Changes</button>
          </div>
        </div>
    </form>
  </div>
</div>
