<div class="row">
  <div class="col-md-3">
    <div class="list-group">
      <a class="list-group-item" ng-repeat="title in options" ng-click="changeView($index)">
        {{title}}<span class="pull-right glyphicon glyphicon-chevron-right"></span></a>
      </a>
    </div>
  </div>

  <div class="col-md-9" ng-switch on="activeView">
    <!-- Major options settings -->
    <div ng-switch-when="0" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Majors Options</h3>
      </div>
      <div class="panel-body">
        <form ng-submit="updateProfile(registerForm)" name="registerForm" class="form-horizontal" novalidate>
          <div class="form-group has-error" ng-show="errors.other">
            <div class="col-md-6 col-md-offset-3">
              <p class="help-block">
                No matching combination found
              </p>            
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error': submitted && registerForm.firstMajor.$invalid }">
            <label class="control-label col-md-3">First Major</label>
            <div class="col-md-4">
              <!-- <input ng-model="requirement.firstMajor" name="firstMajor" typeahead="track for track in firstMajor | filter:$viewValue | limitTo:8" type="text" class="form-control" autofocus required/> -->
              <select ng-model="userRequirement.firstMajor" ng-options="track.major as track.major for track in firstMajors" class="form-control" required>
              </select>
            </div>            
          </div>
          <div class="form-group" ng-class="{'has-error': submitted && registerForm.secondMajor.$invalid }">
            <label class="control-label col-md-3">Second Major</label>
            <div class="col-md-4">
              <!-- <input ng-model="requirement.secondMajor" name="secondMajor" typeahead="major for major in secondMajors | filter:$viewValue | limitTo:8" type="text" class="form-control" required/> -->
              <select ng-model="userRequirement.secondMajor" ng-options="track.major as track.major for track in secondMajors" class="form-control" required>
              </select>
            </div>            
          </div>

          <div class="form-group">
            <label class="control-label col-md-3">Exemptions</label>
            <div class="col-md-9">
              <ul id="exemptions">
                <li ng-repeat="exemption in availableExemptions" ng-class="{'selected': exemption.selected }" ng-click="selectExemption(exemption, registerForm)">
                  {{exemption.title}}
                </li>              
              </ul>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-9 col-md-offset-3">
              <p class="help-block" ng-show="message"> {{ message }} </p>
              <button ng-disabled="registerForm.$pristine" type="submit" class="btn btn-primary">Save Changes</button>
            </div>
          </div>
      </form>
      </div>
    </div>
    <!-- End of major options settings -->

    <!-- Password settings -->
    <div ng-switch-when="1" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Password</h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal " name="passwordForm" ng-submit="changePassword(passwordForm)" novalidate>
          <div class="form-group" ng-class="{'has-error': submitted && passwordForm.password.$invalid }">
            <label class="control-label col-md-3">Current Password</label>
            <div class="col-md-4">
              <input type="password" name="password" class="form-control" ng-model="user.oldPassword" autofocus mongoose-error required />
            </div>
            <div class="col-md-3" ng-show="passwordForm.password.$error.mongoose">
              <p class="form-control-static">
                <small>
                  <em>{{ errors.other }}</em>
                </small>
              </p>
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error': submitted && passwordForm.newPassword.$invalid }">
            <label class="control-label col-md-3">New Password</label>
            <div class="col-md-4">
              <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword" ng-minlength="3" required/>          
            </div>
            <div class="col-md-3" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
              <p class="form-control-static">
                <small>
                  <em>Password must be at least 3 characters.</em>
                </small>
              </p>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-5 col-md-offset-3">
              <dimiss-message message="state.message"></dimiss-message>   
              <button class="btn btn-primary" type="submit" ng-disabled="!user.oldPassword || !user.newPassword">Change password</button>
            </div>
            </div>
        </form>
      </div>
    </div>
    <!-- End of password settings -->

  </div>
</div>