<div class="row">
  <div ng-hide="currentUser.requirement" class="col-md-12 jumbotron no-background" id="initial-login">
    <h1>Hi there!</h1>
    <p>This is the first time you are logging in! We need you to fill out some details first before we can get started planning your modules. Remember to change your default password too!</p>
  </div>
  <div ng-switch on="step" class="col-md-12">
    <form ng-switch-when="1" class="form-horizontal animate-switch" name="passwordForm" ng-submit="changePassword(passwordForm)" novalidate>
      <legend></legend>
      <div class="form-group" ng-class="{'has-error': submitted && passwordForm.password.$invalid }">
        <label class="control-label col-md-3">Current Password</label>
        <div class="col-md-3">
          <input type="password" name="password" class="form-control" ng-model="user.oldPassword" autofocus mongoose-error required />
        </div>
        <div class="col-md-6" ng-show="passwordForm.password.$error.mongoose">
          <p class="form-control-static">
            <small>
              <em>{{ errors.other }}</em>
            </small>
          </p>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': submitted && passwordForm.newPassword.$invalid }">
        <label class="control-label col-md-3">New Password</label>
        <div class="col-md-3">
          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword" ng-minlength="3" required/>          
        </div>
        <div class="col-md-6" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
          <p class="form-control-static">
            <small>
              <em>Password must be at least 3 characters.</em>
            </small>
          </p>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-3 col-md-offset-3">
          <p class="help-block"> {{ message }} </p>
          <button class="btn btn-primary" type="submit">Change password</button>
        </div>
        </div>
    </form>

    <form ng-switch-when="2" ng-submit="register(registerForm, requirement)" name="registerForm" class="form-horizontal animate-switch" novalidate>
        <legend></legend>
        <div class="form-group has-error" ng-show="errors.other">
          <div class="col-md-6 col-md-offset-3">
            <p class="help-block">
              No matching combination found
            </p>            
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': submitted && registerForm.firstMajor.$invalid }">
          <label class="control-label col-md-3">First Major</label>
          <div class="col-md-3">
            <!-- <input ng-model="requirement.firstMajor" name="firstMajor" typeahead="track for track in firstMajor | filter:$viewValue | limitTo:8" type="text" class="form-control" autofocus required/> -->
            <select ng-model="user.firstMajor" ng-options="track for track in firstMajors" class="form-control" required>
            </select>
          </div>
          <div class="col-md-6">
            <p class="form-control-static">
              <small>
                <em>Choose "No Track" if you are not sure.</em>
              </small>
            </p>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error': submitted && registerForm.secondMajor.$invalid }">
          <label class="control-label col-md-3">Second Major</label>
          <div class="col-md-3">
            <!-- <input ng-model="requirement.secondMajor" name="secondMajor" typeahead="major for major in secondMajors | filter:$viewValue | limitTo:8" type="text" class="form-control" required/> -->
            <select ng-model="user.secondMajor" ng-options="track for track in secondMajors" class="form-control" required>
            </select>
          </div>
          <div class="col-md-6">
            <p class="form-control-static">
              <small>
                <em>Choose "Undecided" if you are not sure.</em>
              </small>
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3">Exemptions</label>
          <div class="col-md-6">
            <ul id="exemptions">
              <li ng-repeat="exemption in exemptions" ng-class="{'selected': exemption.selected }" ng-click="setExemptions(exemption, exemptions)">
                {{exemption.title}}
              </li>              
            </ul>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-9 col-md-offset-3">
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </div>
        </div>
    </form>
  </div>
</div>
